<br>
<h1>Admin Dashboard</h1>
<br>

<div class="panel panel-default items">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Number of product categories</th>
        <th>Number of unique products</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= @category_amount %>
        </td>
        <td>
          <%= @product_amount %>
        </td>
      </tr>
    </tbody>
  </table>
</div>